body{
    background-color: #F5F7FA;
}

header{
    margin-bottom: 50px;
}



.search-category  {

    display:flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
 background-color: #fff;
 padding: 20px;
 margin-bottom: 40px;
}

.search-category a{
    font-size: 20px;
    color: var(--mainColor);
}

  h4{
    

  padding-bottom: 15px;

}

.search-category  input{

    padding: 15px;
    border-color: var(--mainColor);
}


.search-category i{
    position: absolute;
    right: 11%;
    bottom:27%;
}


.category-list{
    display:flex;
    flex-direction: column;
    gap: 15px;
 
 background-color: #fff;
 padding: 20px;
 margin-bottom: 40px;
}

.category-list div{

    display: flex;
    justify-content: space-between;
}

.category-list div:hover{

    color: var(--mainColor);
    padding-left: 5px;
}

.sales{
    background-color: #fff;
    padding: 20px;
}


.sales ul{

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 18px;
}

.item{

    background-color: #fff;
}

